.block2 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.wrapper {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #e6e6e6;
    border-radius: 20px;
    flex-direction: column;
}

.wrapper h2 {
    margin: 10px;
    text-align: center;
}

.scroll2 {
    display: flex;
    justify-content: center;
    transition: 1s;
}
