.block2 {
    height: 100vh;
    display: grid;
    justify-items: center;
}

.content p {
    grid-area: p;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.content {
    display: grid;
    grid-area: content;
    grid-template-columns: 2;
    grid-template-rows: 2;
    grid-template-areas: "p p"
                         "modal modal";
                         align-items: center;
                         justify-items: center;
}

.modal {
    grid-area: modal;
}

.content img {
    width: 500px;
}

@media screen and (max-width: 1140px) {
    content {
        display: grid;
        grid-template-columns: 1;
        grid-template-areas: "p"
                             "content";
        justify-content: center;
    }
}


@media screen and (max-width: 1140px) {
    content img {
        width: 700px;
    }
}

