.modalTitle a{
    text-align: center;
    text-decoration: none;
}

.modalBody {
    display: flex;
    justify-content: center;

}


.imgBody {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    height: 500px;
}