.block3 {
    height: 80vh;
}

.wrapper {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #e6e6e6;
    border-radius: 20px;
    flex-direction: column;
}

.wrapper h2 {
    margin: 10px;
    text-align: center;
}