@font-face {
    font-family: "Itim";
    src: url(../../../public/Itim/Itim-Regular.ttf);
}

.block1 {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nameHead  {
    font-family: 'Itim';
    font-size: 60px;
    color: #212529;
    margin: 0;
}

.nameHead {
    display: flex;
    justify-content: center;
}

.wrapper {
    padding: 10px;
    margin-top: 20px;
    border-radius: 20px;
    background-color: #e6e6e6;
    border: 1px solid #b3b3b3;
    width: fit-content;
    align-self: center;
}

.wrapper h4 {
    color: #212529;
    font-size: 35px;
    display: flex;
    justify-content: center;
    margin: 5px;
}

.wrapper p {
    color: #212529;
    font-size: 25px;
    display: flex;
    justify-content: center;
    margin: 5px;
}

.wrapper strong {
    color: #212529;
    font-size: 25px;
    display: flex;
    justify-content: center;
    margin: 5px;
}

.scroll1 {
    /* margin-top: 80px; */
    align-self: center;
}
